$primary-text: #0054a6;
$secondary-text: #19172a;
$tertiary-text: #ffffff;
$quaternary-text: #e82a2a;

$primary-border: #0054a6;
$secondary-border: #c2c2c5;

$primary-background: #0054a6;
$secondary-background: #eef2f6;
$tertiary-background: #00000080;

$primary-hover: #0e4e8e;
$secondary-hover: #e2e8f0;
