.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50px;
  border-bottom: 2px solid $secondary-border;
  background: $secondary-background;

  .heading {
    @include label(20px, $primary-text, 700);
    padding: 0 8px;
  }
}
