.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50px;

  .logo {
    padding: 16px;
    @media screen and (max-width: 767px) {
      img {
        width: 150px;
        height: auto;
      }
    }
  }
  .lang-logout-container {
    display: flex;
    align-items: center;
    button {
      background-color: transparent;
    }
  }
}
