.account-page {
  border-radius: 8px;
  background-image: url('/public/images/account.jpeg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 75px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 600px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: $primary-text;
    }

    .account-field {
      margin-top: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: $primary-text;
      }

      input {
        width: 50%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #e9e9e9;
        cursor: not-allowed;

        &:read-only {
          background-color: #e9e9e9;
        }
      }
    }
  }
}
.error-message {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $quaternary-text;
}
